﻿@using System.Web.Mvc.Html
@model IEnumerable<TripPlanner.WebApplication.ViewModels.TouristAttractionForListing>

<h2>Suggested attractions:</h2>

@foreach (var a in Model)
{
    <hr />
    <div class="item">
        <h3>@Html.ActionLink(@a.Name, "Attractions/" + @a.ID, "Admin")</h3>

        @using (Html.BeginForm("attractions/accept/" + @a.ID, "Admin", FormMethod.Post, new { style = "display:inline;" }))
        { <input type="submit" value="Accept" class="btn btn-success btn-xs" /> }

        @Html.ActionLink("Edit", "attractions/edit/" + @a.ID, new { controller = "Admin" }, new { @class = "btn btn-default btn-xs" })

        @using (Html.BeginForm("attractions/" + @a.ID, "Admin", FormMethod.Post, new { style = "display:inline;" }))
        { <input type="submit" value="Delete" class="btn btn-danger btn-xs" /> }
    </div>
}