﻿@using TripPlanner.WebApplication.ViewModels
@model TouristAttractionDetailed

@{
    ViewBag.Title = "GetSingleAttraction";
    ViewBag.Key = "AIzaSyC4Cd2mMCpJTMdONRDJ4U3UUVblVq7pdhw";
    ViewBag.MapSource = "https://www.google.com/maps/embed/v1/place?key=" + ViewBag.Key + "&q="
        + @Model.Coordinates.ToDecimalDegreesFormatString();
}

<div>@Html.ActionLink("Go back to suggestion list", "GetAllSuggestedAttractions", "Admin")</div>

<p>
    @using (Html.BeginForm("Accept", "Admin", FormMethod.Post, new { style = "display:inline;" }))
    { <input type="submit" value="Accept" class="btn btn-success" /> }

    @Html.ActionLink("Edit", "attractions/edit/" + @Model.ID, new { controller = "Admin" }, new { @class = "btn btn-default" })

    @using (Html.BeginForm("Decline", "Admin", FormMethod.Post, new { style = "display:inline;" }))
    { <input type="submit" value="Delete" class="btn btn-danger" /> }
</p>

<div>
    <h1>@Model.Name</h1>
    @if (Model.Category.Name != null)
    {
        <div>(@Model.Category.Name)</div>
    }
</div>

<hr />

@if (Model.Address != null)
{
    <div>
        <h3>
            <p>@Model.Address.Street @Model.Address.Number</p>
            <p>@Model.Address.PostCode @Model.Address.City</p>
            <p>@Model.Address.Country</p>
        </h3>
    </div>
}

<hr />

<div>
    <h3>Additional information:</h3>
    <p>
        Adults only:
        @if (Model.AdultsOnly)
        {
            <img src="http://img2.wikia.nocookie.net/__cb20080127132158/finalfantasy/images/6/69/Yes_check.png" height=10 width=10 />
        }
        else
        {
            <img src="http://cliparts.co/cliparts/kTM/dBd/kTMdBd9Tj.png" height=10 width=10 />
        }
    </p>
    <p>
        Disabled access:
        @if (Model.DisabledAccess)
        {
            <img src="http://img2.wikia.nocookie.net/__cb20080127132158/finalfantasy/images/6/69/Yes_check.png" height=10 width=10 />
        }
        else
        {
            <img src="http://cliparts.co/cliparts/kTM/dBd/kTMdBd9Tj.png" height=10 width=10 />
        }
    </p>
</div>

<hr />

@if (Model.OpeningHours.IsAssignedWithAnyDayValue())
{
    <h3>Opening hours:</h3>
    <ul>
        @if (Model.OpeningHours.Monday != null)
        {
            <li>Monday: @Model.OpeningHours.Monday.ToViewModelFormatString()</li>
        }
        @if (Model.OpeningHours.Tuesday != null)
        {
            <li>Tuesday: @Model.OpeningHours.Tuesday.ToViewModelFormatString()</li>
        }
        @if (Model.OpeningHours.Wednesday != null)
        {
            <li>Wednesday: @Model.OpeningHours.Wednesday.ToViewModelFormatString()</li>
        }
        @if (Model.OpeningHours.Thursday != null)
        {
            <li>Thursday: @Model.OpeningHours.Thursday.ToViewModelFormatString()</li>
        }
        @if (Model.OpeningHours.Friday != null)
        {
            <li>Friday: @Model.OpeningHours.Friday.ToViewModelFormatString()</li>
        }
        @if (Model.OpeningHours.Saturday != null)
        {
            <li>Saturday: @Model.OpeningHours.Saturday.ToViewModelFormatString()</li>
        }
        @if (Model.OpeningHours.Sunday != null)
        {
            <li>Sunday: @Model.OpeningHours.Sunday.ToViewModelFormatString()</li>
        }
    </ul>

    <hr />
}

@if (Model.Price.BasePrice != null)
{
    <h3>Prices:</h3>
    <ul>
        <li>Base price: @Model.Price.BasePrice.Value.ToString("c")</li>
        @if (Model.Price.Discounts != null)
        {
            <li>Discounts:</li>
            <ol>
                @foreach (var d in Model.Price.Discounts)
                {
                    <li>@d.Description, @d.Price.ToString("c")</li>
                }
            </ol>
        }
    </ul>

    <hr />
}

<h3>On map:</h3>
<iframe width="450"
        height="450"
        style="border: 3px; border-color: #FFFFFF"
        src=@ViewBag.MapSource></iframe>