﻿@using System.Web.Mvc.Html
@model IEnumerable<TripPlanner.WebApplication.ViewModels.TouristAttractionForListing>

@{
    ViewBag.Title = "Tourist Attractions";
}

<div>@Html.ActionLink("Suggest new!", "Suggest", "TouristAttractions")</div>

<h2>Tourist attractions:</h2>

@foreach (var a in Model)
{
    <div class="item">
        <h3>@Html.ActionLink(@a.Name, @a.ID.ToString(), "TouristAttractions")</h3>
    </div>
}