﻿@model TripPlanner.WebApplication.ViewModels.TouristAttractionSuggestion

<script type="text/javascript"
        src="http://maps.google.com/maps/api/js?sensor=false">
</script>
<script type="text/javascript">

    $(document).ready(function () {
        initMap();
    });

    var marker;

    function initMap() {
        var myLatlng = { lat: 51.109614, lng: 17.031472 };

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 16,
            center: myLatlng
        });

        var marker = new google.maps.Marker({
            map: map,
            draggable: true
        });

        map.addListener('click', function (event) {
            changeMarkerPosition(marker, event.latLng);
        });

        google.maps.event.addListener(map, "click", function (event) {
            document.getElementById("Coordinates_Latitude").value = marker.getPosition().lat();
            document.getElementById("Coordinates_Longitude").value = marker.getPosition().lng();
        });

        google.maps.event.addListener(marker, 'dragend', function (event) {
            document.getElementById("Coordinates_Latitude").value = this.getPosition().lat();
            document.getElementById("Coordinates_Longitude").value = this.getPosition().lng();
        });
    }

    function changeMarkerPosition(marker, location) {
        marker.setPosition(location);
    }

</script>  

@{
    ViewBag.Title = "SuggestAttraction";
}

<div>@Html.ActionLink("Go back to attraction list", string.Empty, "TouristAttractions")</div>

<h2>SuggestAttraction</h2>
<h4>Did we miss something?</h4>
<hr/>

<div id="map" style="width: 640px; height: 480px;"></div>

<hr/>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Category.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Category.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Category.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <hr/>

        <div class="form-group">
            @Html.LabelFor(model => model.Coordinates.Latitude, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="Coordinates_Latitude" name="Coordinates.Latitude" type="text" value="" readOnly>
                @Html.ValidationMessageFor(model => model.Coordinates.Latitude, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Coordinates.Longitude, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="Coordinates_Longitude" name="Coordinates.Longitude" type="text" value="" readOnly>
                @Html.ValidationMessageFor(model => model.Coordinates.Longitude, "", new { @class = "text-danger" })
            </div>
        </div>

        <hr/>

        <div class="form-group">
            @Html.LabelFor(model => model.Address.Street, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address.Street, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address.Street, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address.Number, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address.Number, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address.Number, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address.City, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address.City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address.City, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address.PostCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address.PostCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address.PostCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address.Country, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address.Country, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address.Country, "", new { @class = "text-danger" })
            </div>
        </div>

        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.DisabledAccess, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.DisabledAccess)
                    @Html.ValidationMessageFor(model => model.DisabledAccess, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AdultsOnly, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.AdultsOnly)
                    @Html.ValidationMessageFor(model => model.AdultsOnly, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <hr/>

        <div class="form-group">
            @Html.LabelFor(model => model.Price.BasePrice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Price.BasePrice)
                    @Html.ValidationMessageFor(model => model.Price.BasePrice, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <hr />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Suggest" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Go back to attraction list", string.Empty)
</div>
