﻿<h2>Welcome to Trip Planner!</h2>

<div class="jumbotron">
    <h1>Trip Planner</h1>
    <p>Our goal is make your trip easier.</p>
    <p>
        @Html.ActionLink("Check tourist attractions", string.Empty, new { controller = "TouristAttractions" }, new { @class = "btn btn-primary btn-lg" })
    </p>
</div>

